<a href="https://colab.research.google.com/github/2303A51672/python_basics/blob/main/basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
l=[2,4,1,5,0,8,4]
if 2 in l:
  print("in the list")
else:
  print("not in the list")
l.append(19)
print(l)
l.remove(4)
print(l)

in the list
[2, 4, 1, 5, 0, 8, 4, 19]
[2, 1, 5, 0, 8, 4, 19]

In [8]:
l=[12,56,34,23,22]
l.append(19)
print(l)

[12, 56, 34, 23, 22, 19]

In [24]:
student=[[2,3,4],[5,6,7],[8,9,0]]
print(student)

[[2, 3, 4], [5, 6, 7], [8, 9, 0]]

In [25]:
M=(23,54,34,12,23)
print(M)

(23, 54, 34, 12, 23)

In [34]:
M=(23,54,34,12,23.2,'mani')
for i in M:
  print(type(i),i)

<class 'int'> 23
<class 'int'> 54
<class 'int'> 34
<class 'int'> 12
<class 'float'> 23.2
<class 'str'> mani

In [35]:
M=(23,54,34,12,23)
if 23 in M:
  print("in the list")
else:
  print("not in the list")

in the list

In [38]:
M=(2,54,34,2,23)
print(M.count(2))

2